<form action="/stylists/$task.getStylistId()/clients/$client.getId()" method="post">
  <label for="description">Description</label>
  <input id="description" name="description" type="text">
  <button type="submit" class="btn btn-info">Update Client</button>
</form>

<a href="/stylists/$stylist.getId()">Return to $stylist.getName()</a>